// Файл миксинов ==================================================================
@import "basis/_MIXINS";
// </ END > Файл миксинов =========================================================

// Файл со шрифтами ===============================================================
@import "basis/_FONTS";
// </ END > Файл со шрифтами ======================================================

// Файл с иконочными шрифтами =====================================================
// @import "_icons";
// </ END > Файл с иконочными шрифтами ============================================

// Шрифт по умолчанию =============================================================
$fontfamily: "OpenSans", sans-serif;
// </ END > Шрифт по умолчанию =====================================================

// ПЕРЕМЕННЫЕ =====================================================================
$minwidth: 320;
$mw: 1760;
$md1: $mw;
$md2: 1400;
$md3: 1200;
$md4: 992;
$md5: 768;
$md6: 480;

$ptt: 150;
$pbb: 150;
$ptt-mini: 75;
$pbb-mini: 75;

$mtt: 150;
$mbb: 150;
$mtt-mini: 75;
$mbb-mini: 75;

$mainColor: #333333;
$secondColor: #e91e63;
// </ END > ПЕРЕМЕННЫЕ ============================================================

// ОБНУЛЕНИЕ, общие парпметры =====================================================
@import "basis/_NULL";

// TODO Подключение файлов стилей страниц и элементов ====================================

/* // ? ======== ОСНОВНОЕ ========= */
@import "_visual-page"; //  Оформление страницы

@import "_element"; // Основные настроки элемента, необходимые для его работы
@import "_element-theme"; // Визуальные настройки элемента.
// TODO </ END > Подключение файлов стилей страниц и элементов ===========================
